* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Dosis", sans-serif;
  font-size: 16px;

}
.card{
margin-top: 40px;
}
.card-header{
  background: #ff8585!important;
}
.form-group {
  margin-bottom: 20px;
}
.top{
  justify-content: space-between;
}
.head-box{
  margin-top: 35px;
}